
WEB/.DS_Store
WEB/5oct.html
WEB/arduino/arduinoleonardo.jpg
WEB/arduino/arduinonano.jpg
WEB/arduino/arduinouno.jpg
WEB/arduino/basket.png
WEB/basicjquery.html
WEB/border.html
WEB/class.html
WEB/colors.html
WEB/css.html
WEB/display.html
WEB/div.html
web/exam/img/java.jpg
web/exam/img/logo.png
WEB/exam/test.html
WEB/exam/test2.html
WEB/exam/test3.html
WEB/exam/test4.html
WEB/exam/test5.html
WEB/flexbox.html
WEB/flexbox999.html
WEB/form.html
WEB/gazo.html
WEB/github.png
WEB/google.png
WEB/grid.html
WEB/grid2.html
WEB/grid3.html
WEB/himawari.html
WEB/html.png
WEB/HTML/index.html
WEB/HTML/path.html
WEB/img1.jpg
WEB/img2.jpg
WEB/img3.jpg
WEB/img4.jpg
WEB/java.jpg
WEB/js.html
WEB/jstest.html
WEB/kadai1_20201005.html
WEB/kotlin.jpg
WEB/latihan1.html
WEB/latihan2.html
WEB/link.html
WEB/link2.html
WEB/list.html
WEB/list2.html
WEB/logo.png
WEB/naruto.html
WEB/overflow.html
WEB/page1.html
WEB/page2.html
WEB/page3.html
WEB/path.html
WEB/photo1.jpg
WEB/python.png
WEB/quiz.html
WEB/Screenshoot.PNG
WEB/selector01.html
WEB/selector02.html
WEB/simpleFunction.html
WEB/site_200202.zip
WEB/site_200202/data.html
WEB/site_200202/form.html
WEB/site_200202/img/200202.jpg
WEB/site_200202/img/sophie's world.jpg
WEB/site_200202/img/thepuppeter.jpg
WEB/site_200202/index.html
WEB/site_200202/self.html
WEB/slide recap.html
WEB/slide.html
WEB/span.html
WEB/table.html
WEB/tesss.html
WEB/test.html
WEB/test2.html
WEB/text.html
WEB/text2.html
WEB/thepuppeter.jpg
