
WEB/.DS_Store
WEB/5oct.html
WEB/arduino/arduinoleonardo.jpg
WEB/arduino/arduinonano.jpg
WEB/arduino/arduinouno.jpg
WEB/arduino/basket.png
WEB/basicjquery.html
WEB/border.html
WEB/class.html
WEB/colors.html
WEB/css.html
WEB/display.html
WEB/div.html
web/exam/img/java.jpg
web/exam/img/logo.png
WEB/exam/test.html
WEB/exam/test2.html
WEB/exam/test3.html
WEB/exam/test4.html
WEB/exam/test5.html
WEB/flexbox.html
WEB/flexbox999.html
WEB/form.html
WEB/gazo.html
WEB/github.png
WEB/google.png
WEB/grid.html
WEB/grid2.html
WEB/grid3.html
WEB/himawari.html
WEB/html.png
WEB/HTML/index.html
WEB/HTML/path.html
WEB/img1.jpg
WEB/img2.jpg
WEB/img3.jpg
WEB/img4.jpg
WEB/java.jpg
WEB/js.html
WEB/jstest.html
WEB/kadai1_20201005.html
WEB/kotlin.jpg
WEB/latihan1.html
WEB/latihan2.html
WEB/link.html
WEB/link2.html
WEB/list.html
WEB/list2.html
WEB/logo.png
WEB/naruto.html
WEB/overflow.html
WEB/page1.html
WEB/page2.html
WEB/page3.html
WEB/path.html
WEB/photo1.jpg
WEB/python.png
WEB/quiz.html
WEB/Screenshoot.PNG
WEB/selector01.html
WEB/selector02.html
WEB/simpleFunction.html
WEB/site_200202.zip
WEB/site_200202/data.html
WEB/site_200202/form.html
WEB/site_200202/img/200202.jpg
WEB/site_200202/img/sophie's world.jpg
WEB/site_200202/img/thepuppeter.jpg
WEB/site_200202/index.html
WEB/site_200202/self.html
WEB/slide recap.html
WEB/slide.html
WEB/span.html
WEB/table.html
WEB/tesss.html
WEB/test.html
WEB/test2.html
WEB/text.html
WEB/text2.html
WEB/thepuppeter.jpg
.DS_Store
JavaFX/.DS_Store
JavaFX/earth/.DS_Store
JavaFX/earth/AnimatedImage.java
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/.DS_Store
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Backgrounds/.DS_Store
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Backgrounds/farback.gif
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Backgrounds/farback.psd
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Backgrounds/starfield.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Backgrounds/Starfield.psd
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Hatch Sequence/f1.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Hatch Sequence/f2.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Hatch Sequence/f3.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Hatch Sequence/f4.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/hatch_sheet.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Head Sequence/f1.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Head Sequence/f2.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Head Sequence/f3.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Head Sequence/f4.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Head Sequence/f5.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/Head Sequence/f6.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/head_sheet.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Boss/ring.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Enemy.psd
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/eSpritesheet_40x30.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Example/e_f1.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Example/e_f2.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Example/e_f3.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Example/e_f4.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Example/e_f5.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Example/e_f6.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Hue Shifted/eSpritesheet_40x30_hue1.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Hue Shifted/eSpritesheet_40x30_hue2.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Hue Shifted/eSpritesheet_40x30_hue3.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Enemy/Hue Shifted/eSpritesheet_40x30_hue4.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/license.txt
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Preview.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/readme.txt
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Ship/f1.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Ship/f2.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Ship/f3.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Ship/f4.png
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Ship/Ship.psd
JavaFX/earth/Gamedevtuts_Free_Shmup_Sprites/Ship/Spritesheet_64x29.png
JavaFX/Stage/StageEx01.class
JavaFX/Stage/StageEx01.java
JavaFX/.DS_Store
JavaFX/earth/AnimatedImage.java
JavaFX/.DS_Store
JavaFX/earth/AnimatedImage.java
